.mid-container {
  position: absolute;
  width: calc(100% - 6.5rem);
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #1e8df9;
  animation: fade-in 0.5s linear forwards;
  top: 4.5rem;
  right: 0.5rem;
  height: calc(100% - 5rem);
}
.mid-header {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  height: 2.5rem;

  background: linear-gradient(45deg, #fff, rgba(65, 150, 145, 0) 100%);
}
.mid-title {
  position: absolute;
  /* padding: 0.5rem; */
  margin-left: 1rem;
}
.mid-close {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.left-container {
  position: absolute;
  z-index: 5;
  top: 4rem;
  left: 0rem;
  height: calc(100% - 4rem);
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.6);
  /* border-radius: 6px 6px 6px 6px; */
  border: 1px solid #1e8df9;
  border-left: unset;
}

.right-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  top: 4.5rem;
  right: 0.5rem;
  height: calc(100% - 5rem);
  width: 28rem;
  /* background-color: rgba(255, 255, 255, 0.6); */
  border-radius: 6px 6px 6px 6px;
  /* border: 1px solid #1e8df9; */
}
.bottom-container {
  position: absolute;
  width: calc(100% - 6.5rem);
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #1e8df9;
  animation: fade-in 0.5s linear forwards;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 30%;
}
.layer-control {
  position: absolute;
  z-index: 5;
  top: 5rem;
  right: 1rem;

  /* border-left: unset; */
}
.compute-container {
}
.left-fade {
  position: absolute;
  /* top: rem; */
  left: 0rem;
  height: calc(100% - 4rem);
  width: 10rem;
  background: linear-gradient(to right, white -50%, rgba(255, 255, 255, 0) 100%);
}
/* .right-fade {
  position: absolute;
  top: 4rem;
  right: 0rem;
  height: calc(100% - 4rem);
  width: 10rem;
  background: linear-gradient(to left, white 10%, rgba(255, 255, 255, 0) 100%);
} */
